* {
  /* border-top: 10px solid#1098ad;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin: 0; /*When Margin Set to Zero No Need To mention the Unit as Px*/
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #17e028;
}

h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #17e028;
}
.post-header {
  margin-bottom: 40px;
}

h1 {
  font-size: 26px;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-style: normal;
}

h2 {
  font-size: 40px;
  margin-bottom: 60px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

article {
  margin-bottom: 60px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.releated-authors {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
}

aside {
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0; /*Top and Bottom Padding is 50px and Left and Right Padding is Zero*/
  background-color: #f7f7f7;
  border: 5px solid #1098ad;

  /* border-top: 5px solid #1098ad; */
  /* border-bottom: 5px solid #1098ad; */
  /* border-left: 5px solid #1098ad; */
  /* border-right: 5px solid #1098ad; */
}

body {
  /* background-color: rgb(255, 251, 0); */
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(2) {
  color: rgb(170, 197, 47);
}

/* 
Common Misconspection this will not work 
article p:first-child {
  font-weight: bold;
  color: #17e028;
} */

/* Styling HyperLinks */

a {
  color: red;
}

a:link {
  color: orangered;
  text-decoration: none;
}

/* a:visited {
  color: blueviolet;
  text-decoration: none;
} */

a:hover {
  color: #17e028;
  font-weight: bold;
  text-decoration: underline dotted #17e028;
}

a:active {
  background-color: black;
  font-size: italic;
}

/* To Memorize LVHA */

/* Conflicts Between Selectors */

/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */
