* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  position: relative;
}

.container {
  width: 800px;

  /* border: 15px solid #5f3dc4; */
  padding: 10px;
  margin: 30px auto;
}

.main-header {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 1.5em 0;
  background-color: rgb(182, 127, 255);
  border-radius: 1ch;
  border: 4px solid black;
  box-shadow: 0 12px 64px rgba(0, 0, 0, 0.8);
}

.main-header h1 {
  padding-top: 15px;
}

.coding-image {
  width: 100%;
  margin: 20px;
}

.Related-section {
  border: 4px solid #7048e8;
  border-radius: 2%;
  padding: 1.5em;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: azure;
  box-shadow: 0 12px 64px rgba(0, 0, 0, 0.8);
}

.related-images {
  width: 100px;
  height: 100px;
}

header,
article,
aside,
footer,
ul,
ol {
  margin: 10px;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin-bottom: 1.5em;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

ul,
ol {
  margin-left: 35px;
}

header h2 {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.5em;
}

.profile-photo {
  margin-bottom: 1.5em;
  float: left;
}

nav a:link {
  color: blue;
  text-decoration: none;
  margin: 10px;
}

nav {
  padding-top: 28px;
}

footer P {
  font-weight: bold;
  text-align: center;
}

button {
  font-size: 22px;
  padding: 20px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* p::first-line {
  color: rebeccapurple;
} */
h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 3px 6px;

  position: absolute;
  top: -15px;
  right: -25px;
}

.main-header h1 {
  float: left;
}

.main-header nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
