* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 20px auto;
  border: 2px solid black;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 87px;
  text-transform: uppercase;
  text-align: center;
}

.btns {
  height: 100px;
  width: 600px;
  margin: 5px auto;

  background-color: darkgray;
  padding: 15px 1px;
  border-radius: 0.5ch;
}

.reg-btn,
.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5ch;
  width: 150px;
}

.reg-btn {
  float: left;
}

.login-btn {
  float: right;
}

.disclamier {
  background-color: greenyellow;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
