body {
  font-family: sans-serif;
}

.name-title {
  text-transform: uppercase;
  text-align: center;
}

.postion {
  text-align: center;
}

.profile-photo {
  border-radius: 50%;
  width: 120px; /* Adjust size as needed */
  height: 120px; /* Should be equal to width */
  object-fit: cover; /* Ensures the image is properly cropped */
}

.phone-no {
  display: inline-block;
}

.email-address {
  display: inline-block;
}

.address {
  display: inline-block;
}

/* .campus {
  display: inline-block;
} */

.campus-logo {
  width: 200px;
  display: inline-block;
}

.ca-logo {
  width: 75px;
}
