* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 225, 225);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.main-header {
  background-color: white;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  gap: 740px;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(19, 18, 18);
  margin-bottom: 20px;
}

.logo {
  height: 60px;
  margin-left: 100px;
  padding: 5px;
}

.language-btns {
  display: flex;
  gap: 10px;
  margin-right: 75px;
}

.lang-btn-sinhala,
.lang-btn-english,
.lang-btn-tamil {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 100px;

  padding: 5px;
  border: 2px solid rgb(19, 18, 18);
}

.Registration-form {
  background-color: white;
  width: 40%;
  height: 700px;
  margin: 63px auto;
  padding: 20px;
  border: 1px solid rgb(160, 157, 157);
  border-radius: 0.5ch;
}

.login-link {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: rgb(19, 18, 18);
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.tc {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: rgb(19, 18, 18);
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

footer {
  background-color: white;
  padding: 5px;
}

.footer-images {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-logo-dialog,
.footer-logo-MIT,
.footer-logo-gov {
  height: 30px;
}

main h2 {
  margin-bottom: 20px;
}

.label {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  color: rgb(19, 18, 18);
  margin-bottom: 10px;
  display: inline-block;
}

.label-mobile,
.label-OTP {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  color: rgb(19, 18, 18);
  margin-bottom: 10px;
  display: inline-block;
  flex-basis: 50%;
}

.txt-box {
  height: 35px;
  margin-bottom: 10px;
}

#NIC-txt-box {
  width: 75%;
}

.doc-type {
  height: 35px;
  width: 22%;
}

.mobile-txt-box {
  display: inline-block;
  flex-basis: 50%;
}

.OTP-txt-box {
  display: inline-block;
  flex-basis: 50%;
}

.mobile-no-and-OTP {
  display: flex;
  gap: 2%;
}

.doc-type-and-doc-no {
  display: flex;
  gap: 2%;
}

.mobile-no-and-OTP-txt-boxes {
  display: flex;
  gap: 2%;
}
