* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 225, 225);
}

.main-header {
  background-color: white;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  gap: 740px;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60px;
  margin-left: 100px;
  padding: 5px;
}

.language-btns {
  display: flex;
  gap: 10px;
  margin-right: 75px;
}

.lang-btn-sinhala,
.lang-btn-english,
.lang-btn-tamil {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  width: 100px;

  padding: 5px;
  border: 2px solid rgb(19, 18, 18);
}

.head-sin {
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  text-align: center;
  font-size: 56px;
}

.head-ele {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(19, 18, 18);
  letter-spacing: 5px;
}

.reg-log-btns {
  background-color: white;
  width: 30%;
  height: 150px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 1ch;
  border: 2px solid rgb(19, 18, 18);
}

.reg-btn,
.log-btn {
  flex-basis: 40%;

  height: 60%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(19, 18, 18);
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  border-radius: 1ch;
  padding: 5px;
  border: 2px solid rgb(19, 18, 18);
}

.reg-btn:hover,
.log-btn:hover {
  background-color: rgb(19, 18, 18);
  color: white;
}

.notice-one {
  width: 1200px;
  background-color: rgb(49, 218, 63);
  margin: 40px auto;
  text-align: center;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 85.5;
}

.notice-two {
  width: 1200px;
  background-color: rgb(49, 218, 63);
  margin: 40px auto;
  text-align: center;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 85.5;
}

.hori-line {
  width: 1800px;
  margin: 20px auto;
}

.instructions {
  width: 1200px;
  margin: 40px auto;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: rgb(92, 92, 92);
}

.instructions h2 {
  margin-bottom: 20px;
}

.red-markers {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.red-markers li::before {
  content: "✔ ";
  color: red;
}

.vehicles-table {
  border: 2px solid rgb(19, 18, 18);
  border-collapse: collapse;
  margin-bottom: 20px;
}

.vehicles-table th,
.vehicles-table td {
  border: 1px solid rgb(19, 18, 18);
  padding: 8px 12px;
}

footer {
  background-color: white;
  padding: 5px;
}

.footer-images {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-logo-dialog,
.footer-logo-MIT,
.footer-logo-gov {
  height: 30px;
}
