<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omni Food Hero Section</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "Rubik", sans-serif;
        color: #444;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div>LOGO</div>
        <div>NAVIGATION</div>
      </nav>
      <div>
        <h1>A healthy meal delivered to your door,every single day</h1>
        <p>
          The smart 365-days-per-year foods subscription that will make you eat
          healthy again.Tailored to your personal tastes and nutritional needs
        </p>
        <a href="#" class="btn">Start eating well</a>
      </div>
    </header>
    <section>
      <div>
        <h2>Some random heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto veniam
          ullam ducimus, obcaecati dicta enim animi omnis voluptates sapiente
          optio repudiandae totam placeat odit pariatur inventore! Quasi tempore
          maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Magni vitae iusto aliquid? Dolorem dolores labore sint in quae
          blanditiis quasi reiciendis iusto commodi delectus, at incidunt
          repudiandae quidem necessitatibus esse!
        </p>
      </div>
    </section>
  </body>
</html>
