/* body {
  border: 3px solid black;
} */

/* Heading Styles */
#main_heading {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

/* Product Details */

#ship {
  text-transform: uppercase;
  color: rgb(136, 135, 133);
  font-weight: bold;
  font-size: small;
}

#price {
  font-weight: bold;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Link Color and Decoration LVHA */
a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

/* Product Specs */

.productspeclist {
  list-style: square;
}

/* Add to cart Button Styles */
#cart_btn {
  /* background-color: black; */
  border-top: 4px solid black;
  color: black;
  font-size: 20px;
  cursor: pointer;
  width: 825px;
  height: 50px;
  text-transform: uppercase;
}

#cart_btn:hover {
  background-color: black;
  border: none;
  color: white;
}

.container {
  margin: 100px auto;
  width: 825px;
  height: auto;
  border: 3px solid black;
}
