body {
  font-family: "Rubik", sans-serif;
  background-color: antiquewhite;
}
header {
  height: 75vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(img/hero.jpg);
  background-size: cover;
  position: relative;
}

.header-text-name {
  width: 50%;
  text-transform: uppercase;
  font-size: 100px;
  color: #dee2e6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -105%);
}

.header-text-word {
  text-transform: uppercase;
  font-size: 100px;
  color: #dee2e6;
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-55%, -65%);
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: end;
  text-transform: uppercase;
  margin-right: 6px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  text-decoration: underline;
  color: blue;
}

.Home_Page {
  margin-left: 4px;
}
