body {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;

  /* background-color: antiquewhite; */
}
header {
  height: 75vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(img/hero.jpg);
  background-size: cover;
  position: relative;
}

.header-text-name {
  width: 50%;
  text-transform: uppercase;
  font-size: 100px;
  color: #dee2e6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -105%);
}

.header-text-word {
  text-transform: uppercase;
  font-size: 100px;
  color: #dee2e6;
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-55%, -65%);
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: end;
  text-transform: uppercase;
  margin-right: 6px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  text-decoration: underline;
  color: blue;
}

.Home_Page {
  margin-left: 4px;
}

table {
  width: fit-content;
  margin: 100px auto;
  border-collapse: collapse;
}

thead {
  background-color: #ffc9c9;
  font-size: 32px;
  text-transform: uppercase;
}

tbody {
  text-align: center;
  font-size: 24px;
}
td {
  width: 600px;
}

tr:nth-child(even) {
  background-color: #adb5bd;
}

tbody tr:nth-child(1) {
  background-color: #f1f3f5;
}

tbody tr:nth-child(3) {
  background-color: #f1f3f5;
}

.project-one {
  /* background-color: bisque; */
  border: 2px solid black;
  border-radius: 2%;
  display: grid;
  justify-items: center;
  margin-left: 80px;
  width: 500px;
  display: grid;
  padding: 10px 30px;
  box-shadow: 0 12px 64px rgba(0, 0, 0, 0.1);
}

.project-one p {
  text-align: justify;
}

.project01-image {
  max-width: 95%; /* Ensures it doesn't overflow */
  height: auto; /* Maintains aspect ratio */
}

.Tecnology-project-01 {
  font-weight: bold;
  display: flex;
  gap: 15px;
}

.Tecnology-project-01 li:nth-child(1) {
  color: #fff;

  background-color: black;
  border-radius: 3%;
  line-height: 1.5;
  padding: 5px 5px;
}

.project-one h3 {
  margin: 0;
}

.icon-set {
  display: flex;
  gap: 100px;
}
