body {
  padding: 0px;
  background-color: black;
}

.first-line {
  margin-top: 40px;
  margin-left: 25px;
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 15rem;
}

.second-line {
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 15.5rem;
  margin-left: 690px;
}

.whole-statement {
  border: 2px solid black;
  margin-top: 200px;
  background-color: rgb(212, 177, 20);
}
